<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7438850435152873"
     crossorigin="anonymous"></script>

<script>
(function() {
	// 检查当前页面的路径是否是特定页面
	if (window.location.pathname === '/%E5%AF%BC%E8%88%AA/') {
		console.log('这段代码只在“导航”页面执行');

		(function waitForBody() {
			if (document.body) { // body存在，可以设置MutationObserver
				console.log('body存在');

				// 创建一个MutationObserver实例来监听DOM变化
				var observer_links = new MutationObserver((mutations, obs) => {
					// 检查是否有符合条件的元素被添加到DOM中素
					var parentDiv = document.querySelector('.article-list--compact');
					if (parentDiv) { // 确保找到了元素
						console.log('find article-list--compact');
						var articles = document.querySelectorAll('.article-list--compact article');

						// 清空父元素的内容
						parentDiv.innerHTML = '';

						articles.forEach(function(article) {
							// 创建一个新的div作为可点击的元素
							var newDiv = document.createElement('div');
							newDiv.classList.add('linklist');

							// 提取文章的标题并用作newDiv的内容
							var articleTitle = article.querySelector('.article-title').textContent;

							// 添加button
							var button_add = document.createElement('button');
							button_add.textContent = articleTitle;
							button_add.classList.add('dropbtn');
							newDiv.appendChild(button_add);

							// 为按钮添加点击事件监听器来切换下拉内容的显示状态
							button_add.addEventListener('click', function() {
								var dropdownContent = this.nextElementSibling; // 下拉内容紧跟在按钮后面
								if (dropdownContent && dropdownContent.style.display === "block") {
									dropdownContent.style.display = "none";
								} else if (dropdownContent) {
									dropdownContent.style.display = "block";
								}
							});

							// 创建一个新的div存储article
							var div_store_article = document.createElement('div');
							div_store_article.classList.add('dropdown-content');
							div_store_article.setAttribute('style', 'display: none;');

							// 构造JSON文件名
							var jsonFileName = `${encodeURIComponent(articleTitle)}.json`;

							// 异步加载对应的JSON文件
							fetch(jsonFileName)
								.then(response => {
									if (!response.ok) {
										throw new Error(`Network response was not ok for ${jsonFileName}`);
									}
									return response.json();
								})
								.then(jsonData => {
									// 转换JSON数据为HTML并插入到当前div元素中
									div_store_article.innerHTML += convertJsonToHtml(jsonData);
								})
								.catch(error => {
									console.error(`Error loading the JSON file: ${jsonFileName}`, error);
								});

							// 将div_store_article附加到newDiv
							newDiv.appendChild(div_store_article);

							// 将newDiv附加到父元素
							parentDiv.appendChild(newDiv);
						});

						// 断开observer的连接
						obs.disconnect();
					}
				});

				// 配置observer：子树和子节点的变化
				observer_links.observe(document.body, {
					childList: true, // 观察目标子节点的变化，是否有添加或者删除
					subtree: true // 观察后代节点
				});
			} else {
				// body不存在，稍后再次检查
				setTimeout(waitForBody, 30); // 30毫秒后再次检查
			}
		})();
	}

})();

// 转换函数
function convertJsonToHtml(jsonData) {
    let htmlOutput = '';
    jsonData.sites.forEach(site => {
        if (site.url && site.details && site.title) {
            htmlOutput += `<article><a href="${site.url}" target="_blank" rel="noopener"><div class="article-details"><h2 class="article-title">${site.title}</h2><footer class="article-time">${site.details}</footer></div></a></article>`;
        }
    });
    return htmlOutput;
}
</script>

<style>
/* 按钮和下拉内容的基本样式 */
.linklist .dropbtn {
  color: black; /* 文字颜色 */
  padding: 16px 24px; /* 增大填充以使按钮更大，第一个值是垂直填充，第二个值是水平填充 */
  font-size: 20px; /* 增大字号使文字更显眼 */
  border: none; /* 无边框 */
  cursor: pointer; /* 鼠标悬停时显示指针 */
  text-align: center; /* 确保文字居中 */
  display: inline-block; /* 使用内联块显示元素，以便能够应用宽度和高度 */
  width: auto; /* 自动根据内容调整宽度 */
  min-width: 120px; /* 设置最小宽度确保按钮即使在文本很短时也有较大的显示 */
  box-sizing: border-box; /* 确保宽度和高度包含了padding和border */
  border-top: 1px solid black; /* 为顶部添加1px实线边界 */
  border-bottom: 1px solid black; /* 为底部添加1px实线边界 */
}

.linklist .dropdown-content {
  display: none;
}
</style>
