<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7438850435152873"
     crossorigin="anonymous"></script>

<script>
(function() {
    // 使用DOMContentLoaded确保DOM完全加载后再执行代码
    document.addEventListener('DOMContentLoaded', (event) => {
        // 检查当前页面的路径是否是特定页面
        if (window.location.pathname === '/%E5%AF%BC%E8%88%AA/') {
            console.log('这段代码只在“导航”页面执行');

            // 选中class为article-list--compact的元素
            var parentDiv = document.querySelector('.article-list--compact');
            if (parentDiv) { // 确保找到了元素
                var articles = document.querySelectorAll('.article-list--compact article');

                // 清空父元素的内容
                parentDiv.innerHTML = '';

                articles.forEach(function(article) {
                    // 创建一个新的div作为可点击的元素
                    var newDiv = document.createElement('div');
                    newDiv.classList.add('linklist');

                    // 提取文章的标题并用作newDiv的内容
                    var articleTitle = article.querySelector('.article-title').textContent;
                    newDiv.textContent = articleTitle; // 使用标题作为占位内容

                    // 构造JSON文件名
                    var jsonFileName = `${encodeURIComponent(articleTitle)}.json`;

                    // 异步加载对应的JSON文件
                    fetch(jsonFileName)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`Network response was not ok for ${jsonFileName}`);
                            }
                            return response.json();
                        })
                        .then(jsonData => {
                            // 转换JSON数据为HTML并插入到当前div元素中
                            newDiv.innerHTML += convertJsonToHtml(jsonData);
                        })
                        .catch(error => {
                            console.error(`Error loading the JSON file: ${jsonFileName}`, error);
                    });

                    // 将newDiv附加到父元素
                    parentDiv.appendChild(newDiv);
                });
            }
        }
    });
})();

// 转换函数
function convertJsonToHtml(jsonData) {
    let htmlOutput = '';
    jsonData.sites.forEach(site => {
        if (site.url && site.details && site.title) {
            htmlOutput += `<article><a href="${site.url}" target="_blank" rel="noopener"><div class="article-details"><h2 class="article-title">${site.title}</h2><footer class="article-time">${site.details}</footer></div></a></article>`;
        }
    });
    return htmlOutput;
}
</script>
